<md-dialog aria-label="List dialog">
  <form name="loginForm" ng-submit="submitForm()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{validationButtonMsg}}</h2>
        <span flex></span>
        <md-button type="button" class="md-icon-button" ng-click="closeDialog(); $event.stopPropagation();">
          <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Email:</label>
          <input type="email" ng-model="account.email" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password:</label>
          <input type="password" ng-model="account.password" required>
        </md-input-container>

        <md-input-container ng-show="account.creating" class="md-block">
          <label>Confirm password:</label>
          <input type="password" ng-model="account.confirm" ng-required="account.creating">
        </md-input-container>

        <md-input-container ng-show="account.creating" class="md-block">
          <label>Username:</label>
          <input type="text" ng-model="account.username"  ng-required="account.creating">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary" aria-label="Create account" ng-click="switchCreateLogin()">
        {{switchButtonMsg}}
      </md-button>
      <span flex></span>
      <span flex></span>
      <md-button type="submit" class="md-primary" aria-label="OK" ng-disabled="{{account.create}}">
        {{validationButtonMsg}}
      </md-button>
      <md-button type="button" ng-click="closeDialog(); $event.stopPropagation();" aria-label="Cancel">
        Cancel
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
