

<md-dialog aria-label="{{c.name}}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{c.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <div>
            <p><strong>{{c.section}}</strong></p>
            <p>{{c.description}}</p>
            <p><strong>{{c.room}}</strong> - {{c.teacher.name}} <strong>{{c.teacher.rate}}</strong> on <a href="{{c.teacher.rateLink}}">RateMyProfessor</a></p>
            <hr>
            <i>Capacity:&nbsp&nbsp&nbsp&nbsp</i> {{c.capacity}}<br>
            <i>Enrollment:&nbsp</i> {{c.enrollment}}<br>
            <i>Seat left:&nbsp&nbsp&nbsp&nbsp&nbsp</i> {{c.capacity-c.enrollment}}
          </div>
          <div layout="column">
            <div ng-repeat="u in c.users">{{u.username}} {{u.email}}</div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-hide="c.added">
      <md-button ng-click="addCourse()" style="margin-right:20px;">
        Add to my courses
      </md-button>
    </md-dialog-actions>
    <md-dialog-actions layout="row" ng-show="c.added">
      <md-button ng-click="removeCourse(c)" style="margin-right:20px;">
        Remove from my courses
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
