<section layout="row" flex>
  <div ng-include src="'app/partials/sidemenu.html'"></div>
  <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon class="material-icons">replay</md-icon>
        </md-button>
        <h2>
          <span>Libellus</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More" ng-click="openNavbar()">
          <md-icon class="material-icons">settings_input_composite</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout="row" layout-fill>
      <div flex ng-repeat="d in days" class="day-column" layout="column">
        <h3 class=".md-headline">{{d.name}}</h3>
        <div ng-repeat="h in hours" class="day-row" layout="row">
          <p class="hours"><small>{{h}}</small></p>

          <div flex ng-repeat="c in courses[d.abr][h.split(':')[0]]" class="courses-box md-primary"
          style="background-color:{{generateColor(c.id)}};height:{{c.height}}px;margin-top:{{c.top}}">{{c.code}}</div>
        </div>
      </div>
    </md-content>
  </div>
</section>
