
<div layout-gt-xs="row">
  <md-sidenav md-component-id="navbar" class="md-sidenav-left">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <p hide-md show-gt-md>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Term</label>
            <md-select ng-model="filterData.selectedTerm" ng-change="updateSubjects()">
              <md-option ng-repeat="term in terms" value="{{term.id}}" ng-if="term.name">
                {{term.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Subject</label>
            <md-select ng-model="filterData.selectedSubject" ng-change="updateClasses()">
              <md-option ng-repeat="subject in subjects" value="{{subject.id}}" ng-if="subject.name">
                {{subject.code}} - {{subject.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="column">
          <label>Levels</label>
          <div layout>
            <div layout="row" layout-wrap md-scroll-y>
              <md-checkbox ng-repeat="l in filterData.levels track by $index" flex="33" layout="row" value="{{l.active}}" ng-model="filterData.levels[$index].active">
                {{l.value}}
              </md-checkbox>
            </div>
          </div>
        </div>

        <div layout="column">
          <label>Minimum seats</label>
          <div layout>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">{{filterData.minimumSeats}}</span>
            </div>
            <md-slider flex ng-model="filterData.minimumSeats" min="0" max="30">
            </md-slider>
          </div>
        </div>

        <div layout="row">
          <p flex>Selected classes only</p>
          <md-switch flex="20" ng-model="filterData.selectedClassesOnly">
          </md-switch>
        </div>

        <div layout="row">
          <p flex>Show classes in conflict</p>
          <md-switch flex="20" ng-model="filterData.classConflicts">
          </md-switch>
        </div>

      </p>
    </md-content>
  </md-sidenav>
</div>
