
md-input-container .md-errors-spacer {
    min-height: 0px;
}

.day-column {
  /*border: 0 0 0 1px solid rgba(0, 0, 0, 0.15);*/
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 8px;
  padding-right: 8px;
}

.day-row {
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
}

.hours {
  position: absolute;
  left:2px;
  bottom:2px;
  margin: 0;
}

.courses-box {
  border-radius: 5px;
  background-color: rgb(33,150,243);
  margin-right: 5px;
}
